@charset "UTF-8";
.g-se1 {
  position: relative; }
  .g-se1 img {
    max-width: 100%; }
  .g-se1 h3 {
    position: absolute;
    top: 50%;
    left: 0;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    color: #ffffff;
    transform: translateY(-50%);
    font-family: FuturaBold;
    text-shadow: 5px 5px 16px rgba(0, 0, 0, 0.75);
    font-size: 7.14em; }

.se2 .content {
  padding-bottom: 50px; }

.se2 .box {
  margin: 80px 0; }

.se2 .title {
  color: #000000;
  font-size: 30px;
  font-family: Montserrat Medium, "微软雅黑";
  text-transform: uppercase;
  margin-bottom: 15px; }

.se2 .text {
  font-size: 18px;
  color: #999999;
  font-family: Montserra, "微软雅黑";
  line-height: 2;
  margin-bottom: 30px; }

.se2 .img_box {
  text-align: center;
  margin: 20px 0px; }

.se2 .img_box2 {
  margin: 20px 0;
  text-align: center; }
  .se2 .img_box2 img {
    display: inline-block; }
    .se2 .img_box2 img:nth-child(2) {
      margin: 0 20px; }

@media screen and (max-width: 768px) {
  .g-se1 {
    margin-top: 50px; }
    .g-se1 h3 {
      font-size: 30px;
      margin-top: 0;
      margin-bottom: 0; }
  .se2 .box {
    margin: 40px 0; }
  .se2 .img_box img {
    width: 100%; }
  .se2 .img_box2 img {
    width: 100%;
    margin-bottom: 20px; }
    .se2 .img_box2 img:nth-child(2) {
      margin: 0;
      margin-bottom: 20px; } }
