@import 'lib/fiore_scss/main';
$img: "/Theme/default/img";

body{
    background:#f5f5f5; 
}
.se1{
  display: none;
    height: 440px;
    background:url($img+"/product_list_s1_background.jpg") center center no-repeat;
    text-transform: uppercase;
    font-size: 60px;
    color:#fff;
    line-height: 455px;
    text-align: center;
    // font-weight: bold;
}
.se2{
    z-index: 1;
    margin: 120px 0;
    .content{
        overflow: hidden;
        .class_box.left{
           float: left;
           width: 320px;
           margin-right: 60px;
           .mobile_list{
              color: #fff;
              text-transform: uppercase;
              font-size: 16px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              padding-left: 10px;
              line-height: 50px;
              background: #000;
              border-bottom: 1px solid #fff;
              line-height: 50px;
              cursor: pointer;
              display: none;
              i{
                float: right;
                line-height: 50px;
                width: 50px;
                text-align: center;
                transform: translateZ(0) rotate(180deg);
                &.active{
                  transform: translateZ(0) rotate(90deg);
                }
              }
           }
           ul{
               padding: 0;
               list-style: none;
           }
           .u2{
               // list-style-type: disc;
           }
           a{
               line-height: 50px;
               display: block;
           }
           .allproduct{
               background:#01579b;
               color:#fff;
               text-transform: uppercase;
               font-size: 16px;
               padding-left: 20px;
               border-bottom: 1px solid #f5f5f5;
           }
           .title_1{
               // background:#282828;
               color:#fff;
               text-transform: uppercase;
               font-size: 16px;
               overflow: hidden;
               text-overflow: ellipsis;
               white-space: nowrap;
               padding-left: 10px;
               // padding-left: 20px;
               // border-bottom: 1px solid #fff;
           }
           .title_2{
               font-size: 14px;
               color:#000;
               background:url($img+"/class_list_bakcground.png") left 25px  center no-repeat,#fff;
               text-transform: uppercase;
               font-weight: bold;
               padding-left: 35px;
               border-bottom: 1px solid #e6e6e6;
               border-top: 1px solid #e6e6e6;
           }
           .title_3{
               font-size: 14px;
               color:#646464;
               background:#fff;   
               text-transform: uppercase;
               padding-left: 50px;
           }
           .out_ul{
             >li{
                background: #282828;
                // padding-left: 20px;
                border-bottom: 1px solid #fff;
                line-height: 50px;
                
             }
             .u1_li{
              cursor: pointer;
              position: relative;
                i{
                  font-size: 16px;
                  color: #fff;
                  // position: absolute;
                  // left: 9px;
                  // top: 15px;
                  transform:translateZ(0) rotate(180deg);
                  float: right;
                  width: 50px;
                  line-height: 50px;
                  text-align: center;
                  background: #000;
                  // transition:.4s;
                  &.active{
                    transform:translateZ(0) rotate(90deg);

                  }
                }
             }
             .title_1{
                // display: inline;
             }
             .u2{
                display: none;
             }
           }
       }

        .right{
            float: right;
            width: 820px;
            .product_nav{
                overflow: hidden;
                line-height: 60px;
                background:#fff;
                padding: 0 80px;
                box-shadow: 2px 0 15px rgba(0,0,0,.2);
                // margin-top: -30px;
                font-size: 14px;
                color:#333;
                font-weight: bold;
                margin-bottom: 30px;
                .class_name{
                    float: left;
                }
                .num{
                    float: right;
                }
                .select_box{
                    float: left;
                    select{
                        display: none;
                    }
                    select:last-child{
                        opacity: 0;
                        display: inline-block;
                        width: 0;
                        border: none;
                    }
                }
            }
            .product_box{
                .text_box{
                  .top{
                    border-bottom: 1px solid #ccc;
                    padding-bottom: 40px;
                    .title{
                      font-size: 47px;
                      font-weight: bold;
                      color: #8f8f8f;
                      text-align: center;
                      font-family: "raleway";
                    }
                    .title2{
                      font-size: 30px;
                      font-weight: bold;
                      color: #282828;
                      text-align: center;
                      font-family: "raleway";
                    }
                    .text{
                      font-size: 16px;
                      color: #000;
                      text-align: center;
                      font-family: "raleway";
                    }
                  }
                  .center{
                    overflow: hidden;
                    border-bottom:1px solid #ccc;
                    .box{
                      float: left;
                      width: 50%;
                      padding: 30px 15px;
                      // margin: 30px 0;
                      border-right: 1px solid #ccc;
                      font-family: "raleway";
                      height: 226px;
                      .title{
                        font-size: 22px;
                        margin-bottom: 10px;
                        color: #282828;
                        font-family: "raleway";
                        font-weight: bold;
                      }
                      .text{
                        font-size: 16px;
                        color: #000;
                        font-family: "raleway";
                        line-height: 1.6;
                      }
                      &:nth-child(2n){
                        border-right:0;
                      }
                      &:nth-child(3){
                        border-top: 1px solid #ccc;
                      }
                      &:nth-child(4){
                        border-top: 1px solid #ccc;
                      }
                    }
                  }
                  .bottom{
                    overflow: hidden;
                    .box{
                      background: #282828;
                      float: left;
                      width: 395px;
                      margin: 40px 0;
                      margin-right: 30px;
                      padding: 30px 25px;
                      height: 250px;
                      .title{
                        font-size: 24px;
                        color: #fff;
                        text-decoration: underline;
                        font-family: "raleway";
                        margin-bottom: 15px;
                      }
                      .text{
                        font-size: 16px;
                        color: #fff;
                        font-family: "raleway";
                        line-height: 1.7;
                        span{
                          font-size: 26px;
                          line-height: 1;
                        }
                      }
                      &:nth-child(2){
                        margin-right: 0;
                      }
                      &:nth-child(3){
                        margin-right: 0;
                        margin-top: 0;
                      }
                    }
                  }
                }
                overflow: hidden;
                a:nth-child(2n+1) .product{
                    margin-right: 0;
                    }
                a.active:nth-child(2n) .product{
                  margin-right: 0;
                }
                a.active:nth-child(2n+1) .product{
                  margin-right: 30px;
                }
                .product{
                    float: left;
                    height: 515px;
                    // width: 380px;
                    width: 395px;
                    margin-right: 30px;
                    background:#fff;
                    margin-bottom: 30px;
                    padding-top: 60px;
                    // box-shadow: 0 5px 12px 8px rgba(180,193,199,.33);
                    // transition: box-shadow .2s ease-out;
                    transition:.4s;
                    &:hover{
                        // box-shadow: 9px 0 29px rgba(0,0,0,.25)
                        box-shadow: 0 5px 12px 8px rgba(199,199,199,.33);
                    }
                    .img_box{
                        height: 310px;
                        background-position: center center;
                        background-repeat: no-repeat;
                        // background-color: #e0e0e0;
                        background-size: contain;
                        margin-bottom: 60px;
                    }
                    .title{
                        font-size: 20px;
                        color:#333;
                        text-align: center;
                        line-height: 1;
                        margin-bottom: 20px;
                          text-transform: uppercase;
                    }
                    .title2{
                        color:#b29277;
                        font-size: 20px;
                        line-height: 1;
                        text-align: center;
                    }
                }
            }
        }
    }
}
@media screen and (min-width:1535px) {
    .se2{
        .content{
            width: 1535px;
            .right{
                width: 1155px;
                .product_box a .product{
                    width: 365px;
                }
                .product_box{
                  .text_box{
                    .center{
                      .box{
                        width: 25%;
                        height: auto;
                        padding: 0px 15px;
                        margin: 30px 0;
                        &:nth-child(2){
                          border-right: 1px solid #ccc;
                        }
                        &:nth-child(3){
                          border-top: none;
                        }
                        &:nth-child(4){
                          border-right: 0;
                          border-top: none;
                        }
                      }
                    }
                    .bottom{
                      .box{
                        width: 365px;
                        &:nth-child(2){
                          margin-right: 30px;
                        }
                        &:nth-child(3){
                          margin-top: 40px;
                        }
                      }
                    }
                  }
                  a:nth-child(2n+1){
                    .product{
                      margin-right: 30px;
                    }
                  }
                  a:nth-child(3n+1){
                    .product{
                      margin-right: 0;
                    }
                  }
                  a.active:nth-child(2n){
                    .product{
                      margin-right: 30px;
                    }
                  }
                  a.active:nth-child(3n){
                    .product{
                      margin-right: 0;
                    }
                  }
                }
            }
        }
    }
}
@media screen and (max-width:768px) {
    .se1{
        background-size: auto 175px;
        line-height: 175px;
        font-size: 28px;
        height: 175px;
    }
    .se2{
        // padding: 0 5px;
        margin: 80px 0;
        .content{
            .class_box.left{
                width: 100%;
                .mobile_list{
                  display: block;
                }
                .list_box{
                  display: none;
                  .out_ul{
                    margin-bottom: 0;
                  }
                }
            }
            .right{
                width: 100%;
                .product_box {
                    .text_box{
                      .center{
                        border-bottom: 0;
                        .box{
                          width: auto;
                          height: auto;
                          margin: 0 20px;
                          border:none;
                          border-bottom: 1px solid #ccc;
                          &:nth-child(3){
                            border-top:none;
                          }
                          &:nth-child(4){
                            border:none;
                          }
                        }
                      }
                      .bottom{
                        .box{
                          margin: 0 20px 40px 20px;
                          width: auto;
                          float: none;
                          &:nth-child(2){
                            margin-right: 20px;
                          }
                          &:nth-child(3){
                            margin-right: 20px;
                          }
                        }
                      }
                    }
                    .product{
                        width: 100%;
                        margin: 20px auto!important;
                        float: none;
                    }
                }
                .product_nav{
                  margin-bottom: 0;
                    padding: 0;
                    .class_name{
                      float: none;
                      text-align: center;
                    }
                    .num{
                        float: none;
                        text-align: center;
                    }
                    .select_box{
                        float: none;
                        select{
                            margin: 0 auto;
                            display: block;
                        }
                    }
                }
            }
        }
        .content:nth-child(2){
            width: 100%;
            .product {
                width: 100%;
                margin-right: 0;
                float: none;
            }
        }
    }
}